@use "@/assets/scss/setups.scss";

// Make header sticky to the top
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;
  border-bottom: 2px solid #f7f7f7;
}

// Position hamburger icon to the top left
.navbar-toggler {
    position: fixed;
    top: 0px;
    left: 10px;
    z-index: 1000;
    border: none;
    padding: 8px; // Align the icon center to the logo
    // Make default outline disappear
    &:focus {
        outline: none;
        box-shadow: none;
      }
  }

// Responsive scaling icon size
.navbar-toggler-icon {
  width: calc(10px + 4vw);
  ;
  height: calc(10px + 4vw);
  ;
}

.logo {
  @extend %logo-font;
  font-size: min(calc(18px + 2vw), 40px); // Responsive scaling logo size
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

#navbar1 {
  max-width: 800px;
  .navbar-nav {
    text-align: center;
    .nav-item {
      padding: 1rem;
      font-size: calc(0.9rem + 0.15vw); // Responsive scaling the font size of nav item
    }
    .dropdown-menu {
      border: 1px solid green;
      line-height: 1.5rem;
      text-align: center;
      .dropdown-header {
        font-style: italic;
      }
      .dropdown-item {
        border: 1px solid blue;
        margin: 1px;
      }
    }
  }
}

.divider-container {
  border: 1px solid red;
  width: 30%; // Make the divider shorter
  min-width: 200px;
  margin: auto; // Position the divider center
}





// Small screen: mobile
@media screen and (min-width: 576px) {}





// medium screen: iPad, PC
@media screen and (min-width: 768px) {
  .divider-container {
      width: 100%; // Make the divider longer
    }
  
  #caret-icon {
    display: none;
  }

  // Make header not sticky to the top
  header {
    position: relative;
    border-bottom: none;
  }
  
  // Make navbar sticky to the top
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
  }

  // show bottom border when navbar is sticky
  .navbar-border {
      border-bottom: 2px solid #f7f7f7;
    }

  //show dropdown menu when mouse hovers
  .dropdown {
    position: relative;
    &:hover {
      .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 3rem;
      }
    }
  }
}
