@use "@/assets/scss/setups.scss";
@import "@/assets/scss/color.scss";

$logo-font-size: min(calc(18px + 2vw), 40px);
$bar-gap: calc($logo-font-size / 2);


/* Let the header fixed to the top */
#logo-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-bottom: 3px solid $main-grey;
}

/* Logo style setting */
.logo {
  @extend %logo-font;
  font-size: $logo-font-size; // Responsive scaling logo size
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
  a {
    color: $green-6; // Logo color
    font-weight: bold;
  }
}

/* Hover effect on navbar */ 
.nav-item {
  .nav-link {
    &:hover {
      color: $green-6;
      font-weight: 500;
      background-color: $green-1;
    }
  }
  #navbarDropdown {
    cursor: default;
  }
}

/* Active effect when route is matched  */
.nav-item {
  .nav-link.exactActiveLink, #navbarDropdown.activeLink {
    color: $green-7;
    font-weight: 500;
  }
  .dropdown-item.exactActiveLink {
    font-weight: 500;
  }
}


/* Switch angle icon when in mobile mode */
.dropdown {
  .nav-link {
    #angle-down {
      display: inline-block;
    }
    #angle-up {
      display: none;
    }
  }
  .nav-link.show {
    #angle-down {
      display: none;
    }
    #angle-up {
      display: inline-block;
    }
  }
}

/* Hamburger icon setting*/
.navbar-toggler {
  margin: 0;
  padding: 0;
  /* Position hamburger icon to the top left */
  position: fixed;
  top: 8px; // Align distance to top with the logo
  left: 15px;
  z-index: 1000;
  /* Keep the icon same size with the logo */
  width: calc($logo-font-size * .8);
  height: $logo-font-size;
}

/* Let the outline of toggler disappear */
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.toggler-icon {
  height: 2px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $green-5;
  border-radius: 1px;
  opacity: 1;
  transform: rotate(0deg);
   /* Animation when hamburger icon is clicked */
  transition: .25s ease-in-out;
  /* Let the 3 bars of hamburger stack together */
  position: absolute;
  left: 0px;
}

/* State when navbar toggler is clicked */
.navbar-toggler .top-bar {
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-135deg);
}


/* State when the navbar is collapsed (with .collapsed to change style) */
.navbar-toggler {
  /* Separate the top bar from middle bar firstly*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar-toggler.collapsed .top-bar {
  margin-bottom: $bar-gap;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  margin-top: $bar-gap;
  transform: rotate(0deg);
}

.navbar-nav {
  text-align: center;
  .nav-item {
    margin: .5rem;
    font-size: calc(0.9rem + 0.15vw); // Responsive scaling the font size of nav item
    .nav-link {
      padding: 1rem;
    }
  }
  .dropdown-menu {
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: center;
    .dropdown-header {
      font-style: italic;
    }
    .dropdown-item {
      color: rgb(59, 59, 59);
      margin: 2px;
    }
  }
}

.divider-container {
  width: 30%; // Let the divider shorter for mobile
  min-width: 100px;
  margin: auto; // Position the divider center for mobile
}


/* State when navbar is collapsed */
.navbar-collapse {
  /* Custom bootstrap CSS for navbar-collapse overlay effect */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 999; // Make sure the overlay is on top
  padding-top: 70px; // Avoid being covered by the header
  /* Animation when the navbar is expanded  */
  height: 0; // Hide the overlay by default
  transition: height .2s linear;
  overflow-y: scroll; // mobile setting when navbar is expanded
}

/* State when navbar is expanded */
.navbar-collapse.show {
  height: 100vh; // Show the overlay when the .show class is added
  align-items: start;
  justify-content: center;
}



// medium screen: iPad, PC
@media screen and (min-width: 768px) {
  /* Let the divider longer for PC */
  .divider-container {
    width: 100%;
  }

  /* Let the header not fixed to the top for PC */
  #logo-header {
    position: relative;
    border-bottom: none;
  }

  /* Let the navbar sticky to the top for PC */
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
  }
  /* Show bottom border when navbar is sticky */
  .navbar-border {
    border-bottom: 3px solid $main-grey;
  }

  /* Show dropdown menu when mouse hovers */
  .dropdown {
    position: relative;
    .dropdown-menu {
      width: 200px;
      margin-top: 0;
      padding: .7rem;
    }
    .nav-link.show + .dropdown-menu {
      box-shadow: 2px 2px 8px $shadow-grey;
    }
    &:hover {
      .dropdown-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 3rem;
        box-shadow: 2px 2px 8px $shadow-grey;
      }
    }

  }

  /* Hide angle icon when not in mobile mode */
  .dropdown {
    .nav-link, .nav-link.show {
      #angle-down, #angle-up {
        display: none;
      }
    }
  }

  /* Hover effect for medium screen */
  .nav-item {
    width: 200px;
    &:hover {
      .nav-link {
        color: $green-6;
        border-radius: 10px;
        background-color: $green-1;
        text-shadow: 0.1em 0.1em 0.1em $green-2
      }
    }
  }

  /* Adjust height of sticky navbar */
  .navbar-nav {
    .nav-item {
      margin: 0;
    }
  }

  /* Reset Overlay setting */
  #navbar1 {
    max-width: 800px;
    position: relative;
    padding-top: 0;
    height: 100%;
    overflow-y: visible; // show dropdown when navbar is expanded
  }
}
