@import './reset.scss';
@import './color.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

/* basic style */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
}

/* font setting */
%logo-font {
  font-family: "Dancing Script", cursive;
}