@import './reset.scss';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* basic style */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  // font-family: "Noto Sans TC", "Montserrat", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

/* font for numbers */
$number-font: "Montserrat";


// h1 {
//   font-size: 68px;
//   font-weight: bold;
// }

// h2 {
//   font-size: 42px;
//   font-weight: bold;
// }

// h3 {
//   font-size: 28px;
//   font-weight: 700;
// }

// h4 {
//   font-size: 24px;
//   font-weight: 700;
// }

// h5 {
//   font-size: 18px;
//   font-weight: 700;
// }